.button{
    display: flex;
    border-radius: 10px;
    width: 98px;
    height: 46px;
    margin: 1px;
    background: #3E7EFF;
    font-family: 'Public Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    align-items: center;
    justify-content: center;
}

.active {
    
}

.disable {
    background-color: grey;
}