.Mein { 
    display: grid;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.active {
    color: green;
}

.disable { 
    color: grey;
}

.img {
    width: 500px;
    height: 500px;
}