@import url('https://fonts.cdnfonts.com/css/public-sans');

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 46px;
    border-radius: 10px;
    background: #3E7EFF;
    font-family: 'Public Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
}

button:hover {
    background: rgba(62, 126, 255, 0.75)
}

button:disabled {
    background: #F5F5FA;
    color: #8083A3;
    cursor: no-drop;
}